<nav class="navbar navbar-expand-lg" id="navPrimary">
  <div class="container-fluid">
    <a class="navbar-brand">{{ name }}</a>
    <button class="hamburger" (click)="toggleNavbar()" [ngClass]="{'active': hamburgerActive}" type="button">
      <span class="line"></span> 
      <span class="line"></span> 
    </button>
    <div [ngClass]="{'open': isNavbarOpen}" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li *ngFor="let navItem of navItems" class="nav-item">
          <a class="nav-link" (click)="navigateTo(navItem.link); toggleNavbar()">{{ navItem.text }}</a>
        </li>
        <li *ngIf="getUser()" class="nav-item">
          <a class="nav-link" (click)="navigateTo('/pantry')">{{ pantry }}</a>
        </li>
        <li *ngIf="!getUser()" class="nav-item">
          <a class="nav-link" (click)="navigateTo('/register')">{{ register }}</a>
        </li>
        <li *ngIf="!getUser()" class="nav-item">
          <a class="nav-link" (click)="navigateTo('/login')">{{ login }}</a>
        </li>
        <li *ngIf="getUser()" class="nav-item">
          <a class="nav-link" (click)="navigateTo('/addrecipe')">{{ addRecipe }}</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link" (click)="navigateTo('/admin')">Admin</a>
        </li>
        <li *ngIf="getUser()" class="nav-item">
          <a class="nav-link" (click)="logOut()">{{ logout }}</a>
        </li>

      </ul>
      
      <ul class="navbar-langselect">
        <li class="nav-item dropdown">
          <a class="nav-lang dropdown-toggle" (click)="toggleLangSelector()" role="button">
            {{ actLang }}
          </a>

          <ul class="dropdown-menu" [ngClass]="{'show': !langSelectorCollapse}">
            <li *ngFor="let lang of langSelection">
              <a (click)="langChange(lang); toggleNavbar();reloadPage()" class="dropdown-item">
                {{ lang.text }}
              </a>
            </li>
          </ul>
          
        </li>
      </ul>
      
    </div>
  </div>
</nav>
