<div class="content">
  <div class="card">
    <div class="header">
      <h1>IR</h1>
    </div>
    <div class="card-body">
      <h1>{{loginTitle}}</h1>
  
      <div class="inputs">
        <div class="">
          <input
            type="email"
            [(ngModel)]="email"
            placeholder="Email"
            [class]="inputClassEmail"
            (keyup.enter)="login()" />
        </div>

          <input
            type="password"
            [(ngModel)]="password"
            [placeholder]="passwordText"
            [class]="inputClassPassword"
            (keyup.enter)="login()" /> 

      </div>
      
      <div class="alert alert-danger" *ngIf="error">
        <div>{{ error }}</div>
      </div>
      
      <button class="loginbutton" (click)="login()">{{loginTitle}}</button>
    </div>

    <div class="card-bottom">
      <a (click)="navigateTo('/register')">{{notRegistered}}</a>
    </div>
  </div>
</div>
