{{recipes|json}}
<div class="container">
    <div class="row fw-bold my-3">
        <div *ngFor="let oszlop of oszlopok" class="col">
            {{oszlop.text}}
        </div>
    </div>
    
    <div *ngFor="let recipe of recipes" class="row my-1">
        <div *ngFor="let oszlop of oszlopok" class="col">
            {{recipe[oszlop.key]}}
            <ng-container [ngSwitch]="oszlop.type">
                <span *ngSwitchCase="'plain'"> {{recipe[oszlop.key]}} </span>
                <input *ngSwitchDefault [(ngModel)]="recipe[oszlop.key]" [type]="oszlop.type" class="form-control">
            </ng-container>
        </div>
    </div>
</div>


