<div class="content">
  
  <div class="card">
      <h1 *ngIf="newRecipe.title === ''">{{addRecipe}}</h1>
      <h1 *ngIf="newRecipe.title !== ''">{{newRecipe.title}}</h1>
        <!-- Recept neve -->
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [placeholder]="recipeName"
            [(ngModel)]="newRecipe.title"
          />
        </div>

        <!-- Leírás -->
        <div class="mb-3 row">
          <div class="col">
            <h2>{{descriptionTitle}}</h2>  
            
            <editor
              name="description"
              [init]="editorConfig"
              apiKey="7tnqeidkpqxvitxlpzpzjvyxx369e93rmgiya4rgpymauig9"
              [(ngModel)]="newRecipe.description" [ngModelOptions]="{standalone: true}" >
            </editor>
          </div>
      </div>

        <div class="mt-3">
          <input
            type="text"
            class="form-control"
            id="categories"
            name="categories"
            [placeholder]="categoryTitle"
            [(ngModel)]="newRecipe.categories"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            class="form-control"
            id="imagelink"
            name="imagelink"
            [placeholder]="imageLink"
            [(ngModel)]="newRecipe.imagelink"
          />

        </div>

        <div class="selected-ingredients mt-3 row">
          <h2>{{selectedIngredientsTitle}}</h2>
          <table class="table">
            <tbody>
              <tr *ngFor="let ingredient of selectedIngredients" class="selectedIngredients">
                <td>{{ ingredient.name }}</td>
                <td>
                  <input type="text" [(ngModel)]="ingredientQuantities[ingredient.id]" (ngModelChange)="updateIngredientQuantity(ingredient.id, $event)" [placeholder]="quantity" class="form-control"/>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeIngredient(ingredient)">{{remove}}</button>
                </td>
              </tr>
          </table>
        </div>

          <div class="ingredient-list mt-3 row">
            <h2>{{ingredientsTitle}}</h2>
            <input type="text" [(ngModel)]="searchTerm" name="search" [placeholder]="searchForIngredients" class="form-control mb-3 mt-3" />
          
            <!-- Összetevők törlése gomb -->
            <button type="button" (click)="clearSelectedIngredients()" class="btn btn-danger mb-3" >{{deleteSelected}}</button>
          
            <!-- Kategorizált összetevők -->
            <div *ngIf="searchTerm !== ''">
              <div *ngFor="let category of categorizedIngredients | keyvalue">
                <!-- Az adott kategórián belüli szűrt összetevők -->
                <ng-container *ngIf="filterIngredients(category.value).length > 0">
                  <h3>{{ category.key }}</h3>
                  <div *ngFor="let ingredient of filterIngredients(category.value)" class="form-check">
                    <div class="checkboxing">
                      <input type="checkbox" [value]="ingredient" [id]="'ingredient-' + ingredient.id" (change)="onIngredientChange($event, ingredient)" class="form-check-input"/>
                      <label [for]="'ingredient-' + ingredient.id">{{ ingredient.name }}</label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>


        
        <button class="btn btn-danger mt-3" type="submit" *ngIf="disableButton()" disabled>{{createRecipeTitle}}</button>
        <button class="btn btn-danger mt-3" type="submit" (click)="createRecipe()" *ngIf="!disableButton()">{{createRecipeTitle}}</button>

      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="modal-title">{{newRecipe.title}}</h5>
      </div>
      <div class="modal-body">
        <p>{{modalContent}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{closeButton}}</button>
      </div>
    </ng-template>
    


  