.content {
    padding-top: 6rem;
    margin: 0 auto;
    padding-bottom: 20px;
    min-height: 100vh;
  }

  * {
    font-weight: 500;
    user-select: none;
  }

  .card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 40px;
    margin: 0 auto;
    border: 0;
    max-width: 95%;
    border-radius: 20px;
    font-size: 18px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(6.1px);
  }

  .selectedIngredients {
    border: 1px solid #86868b7f;
    border-radius: 16px;
    display: block;
    margin-bottom: 10px;
  }

  .selectedIngredients button {
    height: 50px;
    border-radius: 16px;
    width: 100%;
  }

  .form-control {
    border-radius: 16px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.32);
  }

  .form-control:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.36);
  }

  .checkboxing {
    display: flex;
    gap: 10px;
  }
  
  .checkboxing input {
    display: none;
  }
  
  .checkboxing label {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 15px;
    border: 2px solid rgba(169, 32, 32, 0.3);
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .checkboxing input:checked + label {
    border-color: rgba(23, 178, 142, 0.814);
    background-color: rgba(230, 255, 230, 0.9);
  }

  h1 {
    font-weight: 900;
    font-size: 22px;
  }

  h2 {
    font-weight: 800;
    font-size: 20px;
  }

  table {
    width: 100%;
  }

  td {
    border: 0;
  }

  .ingredient-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Mobil nézet: Fordított sorrend */
@media (max-width: 768px) {
    .ingredient-container {
        flex-direction: column-reverse;
    }
}


  @media (max-width: 768px) {
    .card {
      padding: 20px;
    }
    .selectedIngredients td,
    .ingredient-list td {
      display: block;
      width: 100%;
    }
    .btn {
      width: 100%;
      margin-top: 5px;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    .form-control {
      height: 40px;
      font-size: 16px;
    }
  }