div .pantry {
    height: fit-content;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.nav {
  display: none;
}
.content {
  
  backdrop-filter: blur(2px);
  width: 100%;
  margin: 0 auto;
}

.site {
  width: 96%;
  margin: 0 auto;
  
}

h1, p, li, label {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.btn {
  margin: 5px;
}

.header li {
  list-style-type: disc;
  margin-left: 40px;
}

.header {
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  background-color: #eeeceb;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.pantry {
  height: fit-content;
  border-radius: 20px;
  width: 28%;
  padding: 20px;
  text-align: center;
  background-color: #eeeceb;
}

.card {
  min-height: 200px;
  height: fit-content;
  border-radius: 20px;
  background-color: #eeeceb;
}
.form-check-input:checked {
  background-color: rgba(23, 178, 142, 0.814);
}


@media (max-width: 768px) {
  .header {
    width: 95%;
    margin: 0 auto;
  }

  .site {
    margin-top: 3rem;
    width: 95%;
  }

  .recipes {
    display: none;
  }

  .pantry {
    margin-top: 10px;
    width: 95%;
    margin: 10px auto;
  }

  .showrecipes {
    margin: 10px auto;
    padding-top: 3rem;
    min-height: 100vh;
    width: 95%;
  }

  .nav {
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(23, 23, 23, 0.8);
    backdrop-filter: blur(2px);

  }

  .nav button {
    margin: 17px auto;
    border-radius: 14px;
    height: 50%;
    background-color: rgb(255 90 0);;
    width: 95%;
    color: white;
    border: none;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
    transition: transform 0.4s ease, box-shadow 0.3s ease;

  }
}


.content {
  backdrop-filter: blur(2px);
  padding-top: 5.3vw;
}

.btn {
  margin: 5px;
}

.recipes {
  width: 72%;
  margin: 0 auto;
}

.recipes .card {
  margin: auto;
  margin-top: 10px;

}

.recipes .card .form-check {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}




div {
    margin: 0;
}

.card {
  min-height: 200px;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.defaultIngredients {
  display: inline;
}


  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: 700;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  .ingredientcategory {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 20px;
    border: 1px color(grey);
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 350px;
    max-width: 450px;
    min-width: 350px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
  }



@media (min-width: 769px) {
  div .pantry {
    margin-top: 10px;
  }
}

.pantry .form-check {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkboxing input {
  display: none;
}

.checkboxing input:checked + label {
  border-color: rgba(23, 178, 142, 0.814);
  background-color: rgba(230, 255, 230, 0.9);
}

.checkboxing label {
  margin: 0;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 15px;
  border: 2px solid rgba(169, 32, 32, 0.3);
  transition: border-color 0.3s, background-color 0.3s;
}

button {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


*,*:before,*:after{
box-sizing:border-box;
transition:.15s ease-in-out;
}

#toggles{
width:60px;
margin:5px auto;
text-align:center;
}

.ios-toggle,.ios-toggle:active{
display: none;
}

.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:12px;
line-height:16px;
width:100%;
height:36px;
border-radius:18px;
background:#f8f8f8;
cursor:pointer;
}

.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}

.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
#checkbox1 + .checkbox-label, #checkbox2 + .checkbox-label{
  box-shadow:inset 0 0 0 0px rgba(255,90,0,1),0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkbox-label, #checkbox2:checked + .checkbox-label{
  box-shadow:inset 0 0 0 18px rgba(255,90,0,1),0 0 0 2px rgba(255,90,0,1);
}

