<div class="row">
    <div class="pantry col-3 bg-light">
      <h1>Kamra</h1>
      <input type="text" [(ngModel)]="searchTerm" placeholder="Keresés összetevők között..." class="form-control mb-3" (input)="filterRecipes()">
      <button (click)="clearSelectedIngredients()" class="btn btn-danger mb-3">Kiválasztott összetevők törlése</button>
      <div *ngFor="let category of (categorizedIngredients | keyvalue)">
        <h2>{{ category.key }}</h2>
        <div *ngFor="let ingredient of filterIngredients(category.value)" class="form-check">
          <div class="checkboxing">
            <input type="checkbox" [value]="ingredient" id="{{ingredient}}" (change)="onIngredientChange($event, ingredient)">
            <label for="{{ingredient}}">{{ ingredient }}</label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-9 recipes">
      <app-recipes [filteredRecipes]="filteredRecipes"></app-recipes>
    </div>
</div>
  



  