.site {
    padding-top: 5.1rem;
    margin: 0 auto;

    min-height: 50vw;

    
}

h1 {
    font-weight: 700;
}

.content {
    height: fit-content;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #eeeceb;

}

.ingredients {
    flex: 1;
    font-size: large;
    
}

h2 {
    font-weight: 700;
    margin-left: 10px;
}

.ingredients li {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 14px;
    margin: 10px;
}

.ingredients ul {
    padding: 0;
}

.ingredients p {
    display: inline;
}

.description {
    margin-left: 10px;
    flex: 2;
    line-height: 2.6;
    font-size: large;
    background-color: #eeeceb;
    
}

.description ol li {
    list-style-type: disc;
}

.description ul {
    padding: 0;
}
  
  


.row {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0;
}

.titletext {
    background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%);
    border-radius: 20px 0px 00px 20px;
    padding: 20px;

    width: 30%;
}

.imagesource {
    font-size: 14px;
    font-style: italic;
    padding: 10px;

}

.imagesource a {
    color: rgb(0, 0, 0);
}

@media (max-width:  768px) {


    .description {
        margin: 10px auto
    }
}


