<div class="site" *ngIf="recipe">
    <div class="content title row" [style.background-image]="'url(' + recipe.imagelink + ' )'">
      <div class="titletext">
        <h1 class="recipetitle">{{ recipe.title }}</h1>
        <h3 class="categories">{{ recipe.categories }}</h3>
      </div>
    </div>
  <div class="row">
    
      <div class="ingredients content">
        <h2>{{ingredientsHeaderTitle}}</h2>
        
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            <div class="ingredient">
              <strong><p>{{ ingredient.pivot?.quantity }}</p></strong> <p> {{ ingredient.name }}</p>
            </div>
          </li>
        </ul>
      </div>
    

      
      <div class="description content">
        <h2>{{descriptionTitle}}</h2>
        <div [innerHTML]="recipe.description" class="description"></div>
        {{recipe.user_id}}
        <div>
          <span class="imagesource"> {{imageSource}} <a href="{{recipe.imagelink}}">{{recipe.imagelink}}</a></span>
        </div>
      </div>
  </div>


</div>


