.card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    margin: 0 auto;
    border: 0;
    max-width: 100%;
    height: fit-content;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(6.1px);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.32);
    font-weight: 600;
}

.content {
    padding-top: 6rem;
    color: black;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 20px;
    min-height: 100vh;
}

.form-switch {
    width: 60px;
    height: 36px;
}

.form-switch .form-check-input {
    width: 60px;
    height: 36px;
}

th {
    height: 30px;
}

td {
    height: fit-content;
    vertical-align: center;
}

.star {
    vertical-align: middle;
    visibility: hidden;
    cursor: pointer;
    height: 30px;
  }
  
  .star:before {
    content: url("/assets/images/icons/person.crop.circle.fill.badge.xmark.png");

    height: 30px;
    visibility: visible;
  }
  
  .star:checked:before {
    content: url("/assets/images/icons/person.crop.circle.fill.badge.checkmark.png");
    height: 30px;

  }