<div class="content">
    <div class="card ">
      <div class="card-body">
        <h1>{{userRecipesHeaderTitle}}</h1>
        <div class="row">
        
          <div class="search-recipes col">
            <input type="text" name="searchRecipe" class="form-control" [(ngModel)]="searchTermRecipes" (input)="filterRecipes()" [placeholder]="searchForRecipes"/>
          </div>
        </div> 
        <div class="list-card" *ngFor="let recipe of recipes">
          <div class="row">
            <div class="col">
              <h2>{{recipe.title}}</h2>
            </div>
            <div class="col">
              <h2>{{recipe.language}}</h2>
            </div>
            <div class="col" *ngIf="!recipe.approved">
              <h2>{{waitingForApprove}}</h2>
            </div>
            <div class="col">
              <button class="btn btn-secondary" (click)="editRecipe(recipe)">{{editButton}}</button>
              <button class="btn btn-danger" (click)="deleteRecipe(recipe)">{{deleteButton}}</button>
            </div>
            <!-- Szerkesztés -->
            <div class="edit-recipe" *ngIf="recipe.id === selectedRecipeId">
                              <div class="row">
                                <div class="col">
                                  <input type="text" class="form-control" id="title" name="title" [placeholder]="recipeName" [(ngModel)]="recipe.title"/>
                                </div>
                                <div class="col">
                                  <select name="language" id="" [(ngModel)]="recipe.language" class="form-control">
                                    <option value="hu">Magyar</option>
                                    <option value="en">English</option>
                                  </select>
  
                                </div>
                              </div>
                              <div class="row" style="margin: 0 auto;">
                                <input
                                type="text"
                                class="form-control"
                                id="categories"
                                name="categories"
                                [placeholder]="categoryTitle"
                                [(ngModel)]="recipe.categories"
                                />
                                <label for="categories"></label>
                              </div>
  
                            
                            <!-- Leírás -->
                            <div class="form-floating mb-3 row">
                              <div class="col">
                                <h2>{{descriptionTitle}}</h2>  
                                <editor
                                  name="description"
                                  [init]="editorConfig"
                                  apiKey="7tnqeidkpqxvitxlpzpzjvyxx369e93rmgiya4rgpymauig9"
                                  [(ngModel)]="recipe.description" [ngModelOptions]="{standalone: true}">
                                </editor>
                              </div>
                          </div>
                    
                            
  
                            <div class="row mt-3">
                              <div class="row">
                                <div class="col">
                                  
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="imagelink"
                                      name="imagelink"
                                      [placeholder]="imageLink"
                                      [(ngModel)]="recipe.imagelink"
                                    />
  
                              </div>
  
                            </div>
                            </div>
                            <h2 >{{ingredientsTitle}}</h2>
                          <div class="selected-ingredients mt-2 ml-4 row ingredient-container">
                            <div class="ingredient-list mt-2 col" >
                              <h3>{{searchTitle}}</h3>
                              <input type="text" [(ngModel)]="searchTerm" name="search" [placeholder]="searchForIngredients" class="form-control mb-3 " />
                              <button type="button" (click)="clearSelectedIngredients()" class="btn btn-danger mb-3">
                                {{deleteSelected}}
                              </button>
                              <div *ngIf="searchTerm !== ''">
                                <div *ngFor="let category of categorizedIngredients | keyvalue">
                                  <h2 *ngIf="filterIngredients(category.value).length > 0">{{ category.key }}</h2>
                                  <div *ngFor="let ingredient of filterIngredients(category.value)" class="form-check">
                                    <div class="checkboxing">
                                      <input type="checkbox" [value]="ingredient" [id]="'ingredient-' + ingredient.id" (change)="onIngredientChange($event, ingredient)" class="ingredient"/>
                                      <label [for]="'ingredient-' + ingredient.id">{{ ingredient.name }}</label>
                                    </div>
                                  </div>
                                </div>
                                <div *ngIf="!categorizedIngredients">
                                  nincs ilyen hozzávaló
                                </div>
                              </div>
                              
                              </div>

                              <div class="col">
                                <h3>{{selectedIngredientsTitle}}</h3>
                                <table class="table ingredientTable mt-2" >
                                  
                                  <tbody>
                                    <tr *ngFor="let ingredient of recipe.ingredients" class="ingredient">
                                      <td><input type="text" [(ngModel)]="ingredient.name" class="form-control" [placeholder]="ingredientName" readonly></td>
                                      <td >
                                        <input type="text" [value]="ingredient.pivot?.quantity"  [placeholder]="ingredient.pivot?.quantity" class="form-control" readonly/>
                                      </td>
                                      <td>
                                        <button class="btn btn-danger" (click)="deleteIngredientFromRecipe(ingredient)">{{deleteButton}}</button>
                                      </td>
                                    </tr>
                                    <tr *ngFor="let ingredient of selectedIngredients" class="ingredient">
                                      <td ><input type="text" [(ngModel)]="ingredient.name" class="form-control" [placeholder]="ingredientName" readonly></td>
                                      <td >
                                        <input type="text" [(ngModel)]="ingredientQuantities[ingredient.id]" (ngModelChange)="updateIngredientQuantity(ingredient.id, $event)" [placeholder]="quantity" class="form-control"/>
                                      </td>
                                      <td>
                                        <button class="btn btn-danger" style="width: 100%;" (click)="removeIngredient(ingredient)">{{[remove]}}</button>
                                      </td>
                                    </tr>
                                </table>
                              </div>

                            </div>
                            <button (click)="saveRecipe(recipe)"  class="btn btn-primary" type="submit" style="width: 100%;">{{saveButton}}</button>
                          </div>
                        </div>
  

            </div>
    </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-body">
      <p>{{modalContent}}</p>
    </div>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{closeButton}}</button>
  </ng-template>
  