<div class="content">
    <div class="card">

        <div class="card-body">
            <h1>{{ingredientsHeaderTitle}}</h1>
            <p>{{ingredientsDescription}}</p>
            <div class="post-ingredient mt-3">
                <div class="form-floating mb-3 row">
                  <div class="col">
                    <input type="text" class="form-control col" id="ingredient" name="ingredient" [placeholder]="ingredientName" [(ngModel)]="newIngredient.name"/>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" id="category" name="category" [placeholder]="categoryTitle" [(ngModel)]="newIngredient.category">
                  </div>
                  <div class="col">
                    <select name="language" id="" [(ngModel)]="newIngredient.language" class="form-control" >
                      <option value="">{{language}}</option>
                      <option value="hu" >Magyar</option>
                      <option value="en">English</option>
                    </select>
                  </div>
                  <div class="col">
                    <button class="btn btn-success" (click)="postIngredient(newIngredient)" style="width: 100%;" *ngIf="newIngredient.name && newIngredient.category">{{addButton}}</button>
                    <button class="btn btn-success" style="width: 100%;" *ngIf="!newIngredient.name || !newIngredient.category" disabled>{{addButton}}</button>
                  </div>
                </div>
              </div>
                    <div class="list-card" *ngFor="let ingredient of filterIngredients()">
                        <div class="row">
                            <div class="col">
                                <input type="text" [(ngModel)]="ingredient.id" class="form-control" disabled>
                                
                            </div>
                            <div class="col">
                                <input type="text" [(ngModel)]="ingredient.name" class="form-control" [placeholder]="ingredientName">
                            </div>
                            <div class="col">
        
                                <input type="text" [(ngModel)]="ingredient.category" class="form-control" [placeholder]="categoryTitle">
                            </div>

                            <div class="col">
                              <select name="language" id="" [(ngModel)]="ingredient.language" class="form-control">
                                <option value="hu">Magyar</option>
                                <option value="en">English</option>
                              </select>
                            </div>
        
                            <div class="col">
                                <button class="btn btn-warning" (click)="editIngredient(ingredient)" style="width: 46%;">{{editButton}}</button>
                                <button class="btn btn-danger" (click)="deleteIngredient(ingredient)" style="width: 46%;">{{deleteButton}}</button>
        
                            </div>
                        </div>
                    </div>


            
        </div>

    </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{newIngredient.name}}</h5>
  </div>
  <div class="modal-body">
    <p>{{modalContent}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{closeButton}}</button>
  </div>
</ng-template>