.list-card {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 20px;
}

.card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.32);
  backdrop-filter: blur(6.1px);
}

* {
    font-weight: 600;
    color: black;
}

.form-control {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.32);
    color: black;
    border-radius: 16px;
    height: 45px;
    font-weight: 500;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.659);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.content {
    min-height: 100vh;
    height: fit-content;
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 30px;
}

button {
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    * {
        user-select: none;
    }
}

@media screen and (max-width: 768px) {


    .row {
        display: flex;
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .col:last-child {
        display: flex;
        justify-content: space-between;
    }
}