* {
        background-image: url(/assets/images/bg.jpg);
        background-size: 1000vh;
        background-repeat: repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size: 800px;
        z-index: -1;
        font-family:"SF Pro Text",  "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
}

    html {
        will-change: transform;
        transform: translate3d(0, 0, 0);
    }
        

router-outlet {
        backdrop-filter: blur(2px);
}

button {
        -webkit-box-shadow: inset 10px 10px 73px -55px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 10px 10px 73px -55px rgba(0,0,0,0.75);
        box-shadow: inset 10px 10px 73px -55px rgba(0,0,0,0.75);

}

@font-face {
        font-family: 'VolteRounded-Bold';
        src: url('/assets/fonts/VolteRounded-Bold.otf') format('truetype'),
      }

h1 {
        font-weight: 700;
}

h2 {
        font-weight: 700;
}

body {
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      


body {
        font-family: -apple-system, "Inter", sans-serif;
      }
      