<div class="et">
    <div class="content1">
                <div class="title">
                    <h2 class="mb-4">{{adminWelcome}}, {{this.user.name}}!</h2>
                </div>
            <div class="row">
                    <div class="col" *ngFor="let adminPage of adminPages">
                        <div class="card"
                            (click)="navigateTo(adminPage.link)"
                            [style.background-image]="'url(' + adminPage.image + ')'"
                            style="background-image: url(/assets/images/icons/pencil.line@5x.png);"
                            *ngIf="this.user.admin >= adminPage.admin"
                            >
                          <h2>{{ adminPage.text }}</h2>
                        </div>
                      </div>
            </div>
    </div>
</div>
