<div class="content">
  <footer>
      <div class="footer-container">
        <div class="footer-section contact-info">
          <h3>{{name}}</h3>
          <p>Email: <a href="mailto:duckgak25@gmail.com">duckgak25&#64;gmail.com</a></p>
          <p>{{phone}}+36 1 123-4567</p>
        </div>
  
        <div class="footer-section links">
          <h4>{{links}}</h4>
          <ul>
            <li><a (click)="navigateTo('/home')">{{home}}</a></li>
            <li><a (click)="navigateTo('/pantry')" *ngIf="isLoggedIn">{{pantry}}</a></li>
            <li><a (click)="navigateTo('/userrecipes')" *ngIf="isLoggedIn">{{userRecipes}}</a></li>
            <li><a (click)="navigateTo('/addrecipe')" *ngIf="isLoggedIn">{{addRecipe}}</a></li>
            <li><a (click)="navigateTo('/register')" *ngIf="!isLoggedIn">{{register}}</a></li>
            <li><a (click)="navigateTo('/login')" *ngIf="!isLoggedIn">{{login}}</a></li>
          </ul>
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>{{copyright}}</p>
      </div>
    </footer>
  
</div>
