<div class="content">
  <div class="card mb-4">
    <div class="card-body">
      <h1>{{registerTitle}}</h1>


        <input type="text" [(ngModel)]="name" [placeholder]="nameLabel" [class]="inputClassName" (keyup.enter)="register()">
        <div class="text-danger" *ngIf="registerError.details?.name">
          <div *ngFor="let err of registerError.details.name">{{ err }}</div>
        </div>


        <input type="email" [(ngModel)]="email" placeholder="Email" [class]="inputClassEmail" (keyup.enter)="register()">
        <div class="text-danger" *ngIf="registerError.details?.email">
          <div *ngFor="let err of registerError.details.email">{{ err }}</div>
        </div>



        <input type="password" [(ngModel)]="password" [placeholder]="passwordText" [class]="inputClassPassword" (keyup.enter)="register()">
        <div class="text-danger" *ngIf="registerError.details?.password">
          <div *ngFor="let err of registerError.details.password">{{ err }}</div>
        </div>



        <input type="password" [(ngModel)]="confirm_password" [placeholder]="confirmPasswordText" [class]="inputClassPassword" (keyup.enter)="register()">
        <div class="text-danger" *ngIf="registerError.details?.confirm_password">
          <div *ngFor="let err of registerError.details.confirm_password">{{ err }}</div>
        </div>


      <div class="alert alert-danger" *ngIf="registerError.show">
        <p>{{registerError.message}}</p>
      </div>

      <button class="registerbutton mr-3" (click)="register()">{{registerTitle}}</button>

    </div>

    <div class="card-bottom">
      <a (click)="navigateTo('/login')">{{alreadyAccountLabel}}</a>
    </div>
  </div>
</div>
